{% extends 'base.html.twig' %}

{% block title %}Mes clients{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('customers') }}
{% endblock %}

{% block body %}

    <div class="container" id="customers"></div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('customers') }}
{% endblock %}
